:root {
    --body-bg-color: #030506;
    --header-text-color: #e0e0e0;
    --input-bg-color: #5d5d5d42;
    --input-text-color: #d6d6d6;
    --placeholder-text-color: #d0d0d0;
    --select-option-bg-color: #424242;
    --select-option-text-color: #ffffff;
}